<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>aplikacija</title>
    <link href="{{ url_for('static', filename='index.css') }}" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header>
    <!----navigation-->
    <nav>
        <a href="#" class="logo">BotaniCare</a>
        <div class="bx bx-menu" id="menu-icon"></div>
        <ul class="navlist">
            <li><a href="#naslovnica" class="active">Naslovnica</a></li>
            <li><a href="#vremenska_prognoza">Vremenska prognoza</a></li>
            <li><a href="#analitika">Analitika</a></li>
        </ul>
        <a href="/logout" class="btn">Odjava</a>
    </nav>
    </header>
    <section id="naslovnica">Naslovnica</section>
    <section id="vremenska_prognoza">
        <form id="locationForm">
        <div class="input-box">
            <input type="text" placeholder="Lokacija" name="Lokacija" required> 
        </div>
        <button type="button" onclick="submitForm()" class="btn">Potvrda lokacije</button>
        </form>
    </section>
    <section id="analitika">Analitika</section>
    <script src="/static/script.js"></script>
</body>
</html>