<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>aplikacija</title>
    <link href="{{ url_for('static', filename='index.css') }}" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <!----navigation-->
    <nav>
        <a href="#" class="logo">BotaniCare</a>
        <div class="bx bx-menu" id="menu-icon"></div>
        <ul class="navlist">
            <li><a href="#">Naslovnica</a></li>
            <li><a href="#">Unos sustava</a></li>
            <li><a href="#">Analitika</a></li>
        </ul>
        <a href="/logout" class="btn">Odjava</a>
    </nav>
    <!----hero-->
    <section class="hero">
        <div class="main-text">
            <h1>Responsice Navbar</h1>
        </div>
    </section>
    <script src="/static/script.js"></script>
</body>
</html>