<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BotaniCare</title>
    <link href="{{ url_for('static', filename='index.css') }}" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.io') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="static/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>
<body>
    <header>
    <!----navigation-->
    <nav>
        <a href="#" class="logo">BotaniCare</a>
        <div class="bx bx-menu" id="menu-icon"></div>
        <ul class="navlist">
            <li><a href="#naslovnica" class="active">Naslovnica</a></li>
            <li><a href="#vremenska_prognoza">Vremenska prognoza</a></li>
        </ul>
        <a href="/logout" class="btn">Odjava</a>
    </nav>
    </header>
    <section id="naslovnica">
        <div class="progress-container">
            <div class="progress-label">Vlažnost tla</div>
            <div class="progress" id="humidity-progress">
                <div class="progress-bar" id="humidity-bar"></div>
                <span class="progress-value" id="humidity-value">0%</span> <!-- Dodani tekstualni postotak -->
            </div>
        </div>

        <div class="progress-container">
            <div class="progress-label">Razina vode</div>
            <div class="progress" id="water-level-progress">
                <div class="progress-bar" id="water-level-bar"></div>
                <span class="progress-value" id="water-level-value">0%</span> <!-- Dodani tekstualni postotak -->
            </div>
        </div>

        <!-- Dodani div za skočnu poruku -->
        <div id="weather-alert" class="weather-alert" style="display: none;">
            <p>Automatsko zalijevanje nije moguće zbog trenutnih vremenskih uvjeta (kiša ili oblačno).</p>
            <button class="close-alert" onclick="closeAlert()">x</button> <!-- Dodani gumb za zatvaranje -->
        </div>

        <!-- Dodani div za blinkajuću poruku -->
        <div id="watering-alert" class="watering-alert" style="display: none;">
            <p>Zalijevanje u tijeku...</p>
        </div>

        <!-- Dodani div za skočnu poruku za razinu vode -->
        <div id="water-alert" class="water-alert" style="display: none;">
            <p>Spremnik je skoro prazan. Molimo napunite ga!</p>
        </div>
    </section>
    <section id="vremenska_prognoza">
        <div class="container">
            <form id="locationForm">
                <div class="search-box">
                <i class="bx bxs-map"></i>
                <input type="text" placeholder="Unesite lokaciju" name="Lokacija" required>
                <button type="submit" class="bx bx-search"></button> <!-- changed type to submit -->
                </div>
            </form>
            <div class="weather-box">
                <div class="box">
                    <div class="info-weather">
                        <div class="weather">
                            <h2 class="location">Lokacija</h2> <!-- New line to display location -->
                            <img src="/static/oblak.png" class="weather-icon"> <!-- added class for weather icon -->
                            <p class="temperature">16<span>°C</span></p>
                            <p class="description">Oblačno</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="/static/script.js"></script>

    <script>
        window.addEventListener('load', function() {
            fetchWeatherForSavedLocation();
        });
    </script>
</body>
</html>